body {
  background-color:white;
  margin:0;
  padding:0;
  }
  h1 {
  background-color:white;
  }
  .name{
    color:yellow;
  }
  .Naem{
    color:green;
    background: transparent;
  }
body {font-family: Arial;}
.images {
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.images>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
   	
}
[class^="griditem"] {
  color: black;
  text-align: center;
  font-size: 3rem;
  background-color: #49a2da;
  padding:10px;
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    grid-template-areas: 'myArea myArea Side';
}

.griditem1 { 
	gird-area:myArea;
}
.griditem2 {
	border-left-style: dashed;
	grid-area:Side;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


