body {
  background-image: url("../images/Background.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height:100vh;
  }
  h1 {
  background-image: url("../images/Background.jpg");
  }
  .name{
    color:yellow;
  }
  .Naem{
    color:green;
    background: transparent;
  }
body {font-family: Arial;}
ul {
  list-style-type: none;
  margin: 0 ;
  padding: 0;
  overflow: hidden;
  background-color: lightgreen;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width : 110%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
}

li a:hover {
  background-color: yellow;
}

[class^="griditem"] {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  background-color: blue;
}

.grid-container{
  display: grid;
  grid-template-columns: auto 150px auto;
  grid-template-rows: 500px 150px 300px;
  grid-template-areas: "header header header"				
                       "nav main sidebar"
                       "nav footer footer";
  grid-auto-flow: dense;
  grid-gap: 10px;
  height: 10vh;
}

.griditem1 {
  grid-area: header;
  background-image: url("../images/Inter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:76vh;
}

.griditem2 {
  grid-area: main;
}

.griditem3 {
  grid-area: sidebar;
}

.griditem4 {
  grid-area: nav;
}

.griditem5 {
  grid-area: footer;
}

